.header {
    width: 100%;
    background-color: grey;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;
    font-weight: 500;
    font-size: 22px;
}

.link {
    text-decoration: none;
    color: darkblue;
}

link{
    color: darkgreen;
}